<div id="<%= dom_id product %>">
  <p>
    <strong>Name :</strong>
    <%= product %>
  </p>

  <p>
    <strong>Price :</strong>
    <i class="fa fa-inr"></i><%= product.price/100 %>
  </p>

  <p>
    <strong>Stripe Product id :</strong>
    <%= product.stripe_product_id %>
  </p>

  <p>
    <strong>Stripe Price id :</strong>
    <%= product.stripe_price_id %>
  </p>

  <p>
    <strong>Shopping Cart :</strong>
    <% if @cart.include?(product) %>
      <%= button_to "Remove from the cart", remove_from_cart_path(product), method: :delete %>
    <% else %>
      <%= button_to "Add to cart", add_to_cart_path(product), method: :post %>
    <% end %>
  </p>

  <p>
    <strong>Payment :</strong>
    <%= button_to "Buy now!", checkout_create_path(:format => :js), form: { "data-type" => "script" }, params: {id: product.id}, remote: true, data: { disable_with: "Validating..." } %>
  </p>

  <p>
    <strong>Sales Count :</strong>
    <%= product.sales_count %>
  </p>

</div>
