<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p><hr>
  <% end %>
</div>

<%= link_to "New product", new_product_path %><br>
<hr>

<% if params[:session_id].present? %>
  <% @session = Stripe::Checkout::Session.retrieve(params[:session_id]) %>
  <%= @session.payment_intent %>
  <%= Stripe::PaymentIntent.retrieve(@session.payment_intent) %>

  <% @session_with_expand = Stripe::Checkout::Session.retrieve({
    id: params[:session_id],
    expand: ["payment_intent", "line_items"]
  }) %>
  <br><hr>
  <% @session_with_expand.line_items.data.each do |line_item| %>
    <%= line_item.price.id %>
    <%= line_item.price.product %>
  <% end %>
<% end %>
<br><br><br><br><br><br>
