<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body><br>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p><br>
    <b><%= link_to "Products", products_path %></b>&nbsp;&nbsp;&nbsp;&nbsp;
    <% if current_user %>
      <%= link_to current_user.email, edit_user_registration_path %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= current_user.stripe_customer_id %>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "Register", new_user_registration_path %>
    <% end %><br>
    <br><hr><br>
    <%= yield %>
  </body>
</html>
